# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Environment variables
.env

# Flask specific
instance/
.webassets-cache

# Pytest
.cache

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/